.footer_content{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    background-color: rgb(99, 97, 97);
}
.footer_content p{
    color: black;
}
.footer_copy{
    background-color: rgb(48, 44, 44);
    text-align: center;
    height: 30px;
    color: #fff;
}
.footer_subscrit{
    padding-right: 40px;
}
i{
    font-size: 30px;
    padding-right: 20px;
}
li p{
    color: black;
}
.footer_subscrit p{
    color: black;
}
.bi-whatsapp{
    color: #0ccf1c;
}
.bi-facebook{
    color: blue;
}
body{
    background-color: rgba(48, 43, 43, 0.801);}

.titulo1{
    background:#000000 ;
    height: 60px;
}
.titulo1 h1{
    font-size: 50px;
    color: #fff;
    text-align: center;
}
.corpo{
    padding: 10px;
    margin-left: 30px
}

.bt-bt{
    background: transparent;
    padding: 20px;
    padding-top: 20px;
    width: 180px;
    align-items: center;
    border-radius: 10PX;
    border-color: #fff;

}
@media screen and (max-width:767px){
    .titulo1 h1{
        font-size: 30px;
        color: #fff;
        text-align: center;
    }
    .corpo{
    margin-left:10px;
   }
   
}

@media screen and (max-width:767px) {
    .footer_content{
        display: grid;
        grid-template-columns: auto;
    }
    
}

